<header class="p-3">
    <div class="d-flex">
        <div>
            <mat-drawer-container class="left-side-nav" autosize>
                <mat-drawer #drawer class="example-sidenav" mode="side">
                </mat-drawer>
              
                <div class="example-sidenav-content">
                  <button type="button" mat-icon-button class="btn-primary"
                   mat-button (click)="drawer.toggle()"
                  >
                    <mat-icon class="menu_icon">menu</mat-icon>
                  </button>
                </div>
              
              </mat-drawer-container>
        </div>
        <div class="ml-auto">
            <div class="user-profie">
              <img src="../../../../assets/images/profile.jpg" class="rounded" alt="user profie">
            </div>
        </div>
    </div>
</header>
<app-activity></app-activity>
<app-top-trips></app-top-trips>
<app-footer></app-footer>
