<section class="px-3 my-3 filter_sec">
    <h1 class="title mb-4">Ready For your <br> next trip? </h1>
    <div class="input-group d-flex align-items-center mb-3">
      <div class="input-group-prepend pl-3">
        <mat-icon class="search_icon">search</mat-icon>
      </div>
      <input type="text" class="form-control" [(ngModel)]="activityName" placeholder="Campus,Countries...">
      <div class="input-group-append">
        <button class="btn btn-primary active" type="submit">
          <mat-icon>filter_list</mat-icon>
  
        </button>  
       </div>
    </div>
  </section>
<section class="my-3 pl-3">
    <h2> Activites </h2>
    <div class="">
        <div class="row flex-row flex-nowrap activites w-100">
            <div *ngFor="let item of activityArray | filter: activityName" class="pl-3 py-2 mr-2 justify-content-center align-items-center">
              <div class="cursor" (click)="onActivity(item)">
                <mat-card
                    class="p-0 d-flex justify-content-center align-items-center">
                    <mat-card-content>
                        <img mat-card-image class="m-0" src="{{ item.img }}">
                    </mat-card-content>
                    </mat-card>
              
              <div>
                  <h4 class="text-center mt-2 mb-0"> {{item.name}} </h4>
              </div>
            </div>
            </div>
           
        </div>
    </div>
</section>