
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$task-primary: mat.define-palette(mat.$indigo-palette);
$task-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$task-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$task-theme: mat.define-light-theme((
  color: (
    primary: $task-primary,
    accent: $task-accent,
    warn: $task-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($task-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'material-icons/iconfont/material-icons.scss';
@import './assets/styles/variables.scss';
@import './assets/styles/colors.scss';



html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; };

.btn-primary{
  color: $primary_color;
  border: $s0;;
  outline: $s0;

  &:hover, :visited, :active &:not(:disabled) &:not(.disabled).active {
    color: $white_color !important;
    background: $primary_color !important;
    border: $s0 !important;
  }
}

.btn-primary.active {
        color: $white_color !important;
        background: $primary_color !important;
        border: $s0 !important;
      
}

.cursor{
  cursor: pointer;
}

.activites{
    overflow: auto;
  mat-card{
    width: $s50 + $s10 +$s4;
    height: $s50 + $s10 + $s4;
    box-shadow: $s1 $s4 $s4*2 $s2+$s1 $smallBoxShadow !important;
    -webkit-box-shadow: $s1 $s4 $s4*2 $s2+$s1 $smallBoxShadow !important;
    -moz-box-shadow:$s1 $s4 $s4*2 $s2+$s1 $smallBoxShadow !important;
    border-radius: $s10;
    mat-card-content {
      img {
        width: $s20 + $s10 + $s4;
      }
    }
  }

}

.trips_sec{
  padding-bottom: 84px;

  .trips{
    overflow: $auto;

    mat-card {
      -webkit-box-shadow: 2px 12px 15px 6px rgba(235,235,235,1) !important;
      -moz-box-shadow: 2px 12px 15px 6px rgba(235,235,235,1) !important;
      box-shadow: 2px 12px 15px 6px rgba(235,235,235,1) !important;
      border-radius: 14px;
      width: 200px;

      mat-card-content {

        mat-card-title{
          font-size: 18px;
        }

        .circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
  
      .mat-icon{
        color: $white_color;
        font-size: 14px;
        height: 14px;
        width: 14px;
        font-weight: 700;
        line-height: 1.6;
      }
  
        } 
        .zone_sec{
          border-radius: 27px;
          border: 1px solid #d5d5d5;
  
          .zone_type{
            font-size: 12px;
          }
        }
             img {
              width: 62px;
              height: 58px;
              border-radius: 8px;
        }
        mat-card-subtitle{
          font-weight: 500;
        }
        .ratings{
          .mat-icon{
            color: $warning_color;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
    .low {
      .circle{
        background: $error_color;
      }
    mat-card-subtitle {
      color: $error_color;
    }
  }
    .high {
      .circle{
        background: $success_color;
      }
      mat-card-subtitle {
        color: $success_color;
      }
    } 
    .medium {
      .circle{
        background: $warning_color;
      }
      mat-card-subtitle {
        color: $warning_color;
      }
    }
  
  }
}

.filter_sec{
  .title{
    font-family: 'Playfair Display', serif !important;
    font-weight: 800 !important;
    font-size: 32px !important;
    line-height: 1.3 !important;
  }
  .input-group{
    border: $s1 solid #e9e5e5;
    border-radius: 8px;
    background: #e9e9e9;

    input {
      border: $none;
    background: $none;
    }
    .input-group-append{
      .btn-primary{
        border-radius: $s5 + $s1;
      }
    }
    .search_icon{
      opacity: 0.5;
    }
  }
}

.user-profie{
   .rounded{
       width: 52px;
       height: 52px;
       border-radius: 6px !important;
   }
}

.left-side-nav{
  mat-drawer-content{
    background: $white_color !important;
  }
  .menu_icon{
    font-size: 28px;
  }
  .btn-primary{
    color: $primary_color;
    background: $none;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
    &:hover{
      border: $s0;
    }
  }
}
.footer_sec{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  mat-toolbar{
    background: $neutral_color;
    border-radius: $s20 + $s10;
    height: $auto;
    padding: $s4+$s4 $s10+$s4+$s1;


    .btn-primary {
      background: $none;
      outline: $none;
      border: $none;
      color: $negative_color;

       &:hover, :visited, :active &:not(:disabled) &:not(.disabled).active {
        border-radius: $s20 + $s10 !important;
      }
      .mat-icon {
        font-size: $s20 + $s10 +$s2;
        height: $s20 + $s10 +$s2;
        width: $s20 + $s10 +$s2;
      }
    }

  }
}