  <footer class="footer_sec px-3 mb-3">
    <mat-toolbar class="justify-content-center">
        <button [ngClass]= " { 'active' : btnName === 'home' } "
        mat-icon-button class="mr-3 btn btn-primary d-flex align-items-center" aria-label="" 
        (click)="onBtnClick('home')">
        <mat-icon>home</mat-icon>
        <span class="pl-1" *ngIf=" btnName === 'home' ">Home</span>
        </button>
        <button  [ngClass]= " { 'active' : btnName === 'store' } "
         (click)="onBtnClick('store')"
        mat-icon-button class="mr-3 btn btn-primary d-flex align-items-center" aria-label="">
          <mat-icon>store </mat-icon>
          <span class="pl-1" *ngIf=" btnName === 'store' ">Store</span>
        </button>
        <button [ngClass]= " { 'active' : btnName === 'alert' }"
        (click)="onBtnClick('alert')"
        mat-icon-button class="mr-3 btn btn-primary d-flex align-items-center" aria-label="">
          <mat-icon>notifications_none</mat-icon>
          <span class="pl-1" *ngIf=" btnName === 'alert' ">Alert</span>
        </button>
        <button [ngClass]= " { 'active' : btnName === 'profile' }"
        (click)="onBtnClick('profile')"
         mat-icon-button class="mr-3 btn btn-primary d-flex align-items-center" aria-label="">
            <mat-icon>person_outline</mat-icon>
            <span class="pl-1" *ngIf=" btnName === 'profile' ">Profile</span>
          </button>
      </mat-toolbar>
  </footer>