<section class="my-3 pl-3 trips_sec">
    <h2 class="mb-0"> Top Trips </h2>
    <div class="row flex-row flex-nowrap trips w-100 py-4 px-0">
        <div *ngFor="let item of tripsArray" class="pl-3 p-0 mr-2 justify-content-center align-items-center">
          <div>
            <mat-card class="p-3 justify-content-center align-items-center">
                <mat-card-content [ngClass]="item.level">
                    <div class="">
                        <img src=" {{item.img}} " alt="">
                    </div>
                    <div class="mt-3">
                        <mat-card-title> {{item.title}} </mat-card-title>
                        <p class="mt-4"> {{item.des}} </p>
                        <div class="d-flex align-items-center p-1 zone_sec">
                            <div class="circle d-flex justify-content-center align-item">
                                <mat-icon class="">done</mat-icon>
                            </div>
                            <mat-card-subtitle class="m-0 zone_type pl-2"> {{item.zoneType}} </mat-card-subtitle>
                         <mat-card-subtitle class="m-0 zone_rating ml-auto pr-3"> {{item.zoneRating}}/10 </mat-card-subtitle>
                        </div>
                        <div class="medium ratings mt-3 mb-0 d-flex align-items-center">
                            <mat-icon class="pr-1">star_rate</mat-icon>
                            <mat-card-subtitle class="mb-0"> {{ item.rating }} </mat-card-subtitle>
                        </div>
                        <div>
                        </div>
                       
                    </div>
                </mat-card-content>
                </mat-card>
          </div>
        </div>
    </div>
</section>